@font-face {
 font-family: "20 kopeek Book";
 src: url("../fonts/20Kopeek-Book_cwJTWyR.otf") format("opentype");
}

@font-face {
 font-family: "20 kopeek";
 src: url("../fonts/20Kopeek-Black.otf") format("opentype");
}
