@font-face {
 font-family: "20 kopeek Book";
 src: url("../fonts/20Kopeek-Book_cwJTWyR.otf") format("opentype");
};

@font-face {
 font-family: "Proxima Nova Black";
 src: url("../fonts/Proxima_Nova_Black.otf") format("opentype");
};
