
* {box-sizing: border-box;}

  p {
    font-family: "20 Kopeek Book";
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0.01em;
  }

  h1 {
    font-family: "Proxima Nova Black";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.01em;
  }

  .p2 {
    font-family: "20 Kopeek Book";
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
  }



  .pl1 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 72px;
    background: white;
  }

  .pl1-1 {
    display: inline-block;
    position: block;
    padding: 1px 496px 1px 24px;
    width: 640px;
    height: 72px;
  }

  .pl1-2 {
    display: inline-block;
    position: block;
    padding: 20px 24px 16px 460px;
    width: 640px;
    height: 72px;
  }

  .pl2 {
    margin: 0 auto;
    display:flex;
    align-items: stretch;
    width: 1280px;
    height: 632px;
    background: white;
    overflow: hidden;
    position: relative;

  }
  .pl-ran {
    width: 5500px;
    height: 632px;
    position: absolute;
    /* right: -700px; */
    animation: pl2-ran-move 20s linear infinite;
  }

  /* .pl2:hover .pl-ran {
    animation-play-state: paused;
  } */

  @keyframes pl2-ran-move {
    0% {right: -4220px;}
    100% {right: -1015px;}
  }

  .pl2-1 , .pl2-2 , .pl2-3 {
    display: inline-block;
    position: relative;
    width: 1064px;
    height: 632px;
  }

  .pl2-1 {
    mask-type: alpha;
    -webkit-mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk_group1.svg");
    mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk_group1.svg");
    animation: pl2-1-group 1s steps(1) infinite;
    animation-play-state: paused;
    background-color: black;
  }

  @keyframes pl2-1-group {
    0% {-webkit-mask-position: 0 0; mask-position: 0 0; }
    33% {-webkit-mask-position: 0 -632px; mask-position: 0 -632px; }
    66% {-webkit-mask-position: 0 -1264px; mask-position: 0 -1264px;}
  }



  .pl2-1:hover {
    animation-play-state: running;
    background-color: #1400FF;
  }

  .pl2-2 {
    -webkit-mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk_group2.svg");
    mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk_group2.svg");
    animation: pl2-2-group 1s steps(1) infinite;
    animation-play-state: paused;
    background-color: black;
  }

  .pl2-2:hover {
    animation-play-state: running;
    background-color: #FF0000;
  }

  @keyframes pl2-2-group {
    0% {-webkit-mask-position: 0 0; mask-position: 0 0; }
    33% {-webkit-mask-position: 0 -632px; mask-position: 0 -632px; }
    66% {-webkit-mask-position: 0 -1264px; mask-position: 0 -1264px;}
  }

  .pl2-3 {
    -webkit-mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk_group3.svg");
    mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk_group3.svg");
    animation: pl2-3-group 1s steps(1) infinite;
    animation-play-state: paused;
    background-color: black;
  }

  .pl2-3:hover {
    animation-play-state: running;
    background-color: #FFD600;
  }

  @keyframes pl2-3-group {
    0% {-webkit-mask-position: 0 0; mask-position: 0 0; }
    33% {-webkit-mask-position: 0 -632px; mask-position: 0 -632px; }
    66% {-webkit-mask-position: 0 -1264px; mask-position: 0 -1264px;}
  }

  .pl3 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 280px;
    background: white;
    border-top: 1px solid black;
    padding: 8px 48px 48px 24px;
  }
  .pl4 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 696px;
    background: white;
    border-top: 1px solid black;
  }

  .pl4-1 , .pl4-2 , .pl4-3 , .pl4-4 , .pl4-5 , .pl4-6 {
    display: inline-block;
    position: relative;
    width: 213.33px;
    height: 696px;
    overflow: hidden;
  }

  .pl4-1:hover {
    background: #FFD600;
  }

  .pl4-2:hover {
    background: #FF0000;
  }

  .pl4-3:hover {
    background: #00FF29;
  }

  .pl4-4:hover {
    background: #1400FF;
  }

  .pl4-5:hover {
    background: #00FFFF;
  }

  .pl4-6:hover {
    background: #BD00FF;
  }


  .img_pl4-1 {
    width: 2400px;
    height: 696px;
    position: absolute;
    animation: pl4-1-ran-move 5s linear infinite;
     /* right: -960px; */
  }

  @keyframes pl4-1-ran-move {
    0% {right: -2186.67px;}
    100% {right: -1010px;}
  }

  .img_pl4-2 {
    width: 2400px;
    height: 696px;
    position: absolute;
    animation: pl4-2-ran-move 5s linear infinite;
  }

  @keyframes pl4-2-ran-move {
    0% {right: -2186.67px;}
    100% {right: -1010px;}
  }

  .img_pl4-3 {
    width: 2400px;
    height: 696px;
    position: absolute;
    animation: pl4-3-ran-move 5s linear infinite;
  }

  @keyframes pl4-3-ran-move {
    0% {right: -2186.67px;}
    100% {right: -1010px;}
  }

  .img_pl4-4 {
    width: 2400px;
    height: 696px;
    position: absolute;
    animation: pl4-4-ran-move 5s linear infinite;
  }

  @keyframes pl4-4-ran-move {
    0% {right: -2186.67px;}
    100% {right: -1010px;}
  }

  .img_pl4-5 {
    width: 2400px;
    height: 696px;
    position: absolute;
    animation: pl4-5-ran-move 5s linear infinite;
  }

  @keyframes pl4-5-ran-move {
    0% {right: -2186.67px;}
    100% {right: -1010px;}
  }

  .img_pl4-6 {
    width: 2400px;
    height: 696px;
    position: absolute;
    animation: pl4-6-ran-move 5s linear infinite;
  }

  @keyframes pl4-6-ran-move {
    0% {right: -2186.67px;}
    100% {right: -1010px;}
  }

  .pl5 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 72px;
    background: white;
    border-top: 1px solid black;
  }

  .pl5-1 {
    display: inline-block;
    position: relative;
    padding: 1px 105px 1px 24px;
    width: 640px;
    height: 72px;
  }

  .pl5-2 {
    display: inline-block;
    position: relative;
    padding: 20px 24px 16px 383px;
    width: 640px;
    height: 72px;
  }


  .pl6 {
    margin: 0 auto;
    width: 1280px;
    height: 0px;
    display: flex;
    justify-content: space-between;
    background: white;
    border-top: 1px solid black;
  }

  .pl6-1 {
    display: contents;
    width: 544px;
    height: 352px;
    background: white;
  }

  .pl6-1-1 {
    position: relative;
    width: 136px;
    height: 352px;
    padding: 36px 46px 272px 46px;
    border-top: 1px solid black;
  }

  .pl6-1-2 {
    position: relative;
    width: 136px;
    height: 352px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 36px 46px 272px 46px;
  }

  .pl6-1-3 {
    position: relative;
    width: 136px;
    height: 352px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 36px 46px 272px 46px;
  }

  .pl6-1-4 {
    position: relative;
    width: 136px;
    height: 352px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 52.5px 46px 288.5px 46px;
  }

  .pl6-1-1:hover {
    background: #1400FF;
  }

  .pl6-1-2:hover {
    background: #00FF29;
  }

  .pl6-1-3:hover {
    background: #FF0000;
  }

  .pl6-1-4:hover {
    background: #FFD600;
  }

  .pl6-2 {
    position: relative;
    width: 736px;
    height: 352px;
    background: white;
    border-left: 1px solid black;
    padding: 20px 40px 88px 32px;
    border-top: 1px solid black;
  }

  .pl7 {
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 1280px;
    /* height: 584px; */
    background: white;
    padding: 0px 152px 0px 152px;
  }

  .pl7-1 {
    position: relative;
    width: 976px;
    height: 584px;
  }

  .pl7-1 {
    /* background-image: url("images/plesk-end_1.svg"); */
    mask-type: alpha;
    -webkit-mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk-end_1.svg");
    mask: url("https://simonzlo.github.io/Plesk_poster/images/plesk-end_1.svg");
    animation: pl7-1-group 4s steps(1) infinite, color-change 2s steps(1) infinite, scales-1 4s linear infinite, scales-2 4s linear infinite;
    animation-play-state: paused;
  }

  @keyframes pl7-1-group {
    /* 0% {background-position: 0 0; }
    12.5% {background-position: 0 -584px; }
    25% {background-position: 0 -1168px; }
    37.5% {background-position: 0 -1752px; }
    50% {background-position: 0 -2336px; }
    62.5% {background-position: 0 -2920px; }
    75% {background-position: 0 -3504px; }
    87.5% {background-position: 0 -4088px; } */
    0% {-webkit-mask-position: center 0; mask-position: center 0; }
    12.5% {-webkit-mask-position: center -584px; mask-position: center -584px; }
    25% {-webkit-mask-position: center -1168px; mask-position: center -1168px; }
    37.5% {-webkit-mask-position: center -1752px; mask-position: center -1752px; }
    50% {-webkit-mask-position: center -2336px; mask-position: center -2336px; }
    62.5% {-webkit-mask-position: center -2920px; mask-position: center -2920px; }
    75% {-webkit-mask-position: center -3504px; mask-position: center -3504px; }
    87.5% {-webkit-mask-position: center -4088px; mask-position: center -4088px; }
  }


  .pl8 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 56px;
    background: black;
  }
  .pl7 {
    /* box-sizing: content-box; */
    text-align: center;
    /* padding: 0 0 352px; */
    position: relative;
  }

  .pl7-1 {
    margin: 0 auto 352px;
  }

  .pl6-1-1, .pl6-1-2, .pl6-1-3, .pl6-1-4, .pl6-2 {
    position: absolute;
    bottom: 0;
    width: 10%;
    height: 352px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: white;
    z-index: 10;
  }
  .pl6-1-1 {
    left: 0;
  }
  .pl6-1-2 {
    left: 10%;
  }
  .pl6-1-3 {
    left: 20%;
  }
  .pl6-1-4 {
    left: 30%;
  }
  .pl6-2 {
    left: 40%;
    width: 60%;
  }

  .pl6-1-1:hover ~ .pl7-1 {
    animation-play-state: running, paused, paused, paused;
    /* background-color: #1400FF; */
  }
  .pl6-1-2:hover ~ .pl7-1 {
    animation-play-state: paused, running, paused, paused;
  }
  .pl6-1-3:hover ~ .pl7-1 {
    animation-play-state: paused, paused, running, paused;
  }
  .pl6-1-4:hover ~ .pl7-1 {
    animation-play-state: paused, paused, paused, running;
  }
  @keyframes color-change {
  0% {background-color: #000;}
  20% {background-color: #1400FF;}
  40% {background-color: #00FF29;}
  60% {background-color: #FF0000;}
  80% {background-color: #FFD600;}
  }
  @keyframes scales-1 {
    0% {transform: scale(1);}
    100% {transform: scale(2);}
  }
  @keyframes scales-2 {
    0% {transform: scale(1);}
    100% {transform: scale(.2);}
  }
  /* .b {
    fill: #ff0000;
  } */
